

@inherits LayoutComponentBase

<PageTitle>Student Management System</PageTitle>

<div class="page" style="background-color: #ffe6e6;">
    <div class="sidebar">
        <NavMenu />
    </div>
    <main>
        <div class="top-row px-4">
            <a href="mainpage">Home</a>
            
        </div>

        <!-- Content Area -->   
        @Body



    </main>
</div>



